<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./CSS/home.css">
</head>

<body>
    <div>
        <h1 class="heading-text">MVC Architecture</h1>
        <div>
            <div class="container">
                <div class="section">
                    <h3>Model</h3>
                    <p class="description">
                        The Model represents the data and business logic of the application. It manages data access,
                        data
                        validation, and business rules. Often, the Model interacts with a database to retrieve and store
                        data.
                    </p>
                </div>
                <div class="section">
                    <h3>View</h3>
                    <p class="description">
                        The View is responsible for the user interface (UI) of the application. It displays data to the
                        user and
                        allows them to interact with the application. Typically, the View handles the presentation
                        layer, such as
                        HTML, CSS, and JavaScript.
                    </p>
                </div>
                <div class="section">
                    <h3>Controller</h3>
                    <p class="description">
                        The Controller acts as an intermediary between the Model and the View. It handles user input,
                        interacts with
                        the Model to retrieve or manipulate data, and updates the View accordingly.
                    </p>
                </div>
            </div>
            <div class="container">
                <h3>Benefits of using MVC</h3>
                <ul>
                    <li>Improved maintainability: Separation of concerns makes the codebase easier to understand,
                        modify,
                        and test.</li>
                    <li>Increased reusability: Components can be reused in different parts of the application or even in
                        other
                        applications.</li>
                    <li>Better testability: Individual components can be tested independently.</li>
                    <li>Improved scalability: The application can be more easily scaled and extended.</li>
                </ul>
                <h3>Examples of MVC frameworks</h3>
                <p>Ruby on Rails, Django (Python), Spring MVC (Java), Laravel (PHP), ASP.NET MVC</p>
                <p>In summary, MVC is a powerful architectural pattern that promotes code organization, maintainability,
                    and
                    testability
                    in web applications.</p>
            </div>
        </div>
    </div>
</body>

</html>