<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="./CSS/home.css">
</head>

<body>
    <div>
        <h1 class="heading-text">Add User</h1>
        <div class="container ">
            <form action="/users" method="POST">
                <div class="form-field">
                    <label for="name">Name : </label>
                    <input type="text" name="name" id="name" placeholder="Enter Your Name" required>
                </div>
                <div class="form-field">
                    <label for="email">Email : </label>
                    <input type="email" name="email" id="email" placeholder="Enter Your Email" required>
                </div>
                <div>
                    <button type="submit" class="form-field-btn">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>