<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
</head>

<body>
    <h2>Registration</h2>
    <form action="/user" method="POST">
        <div>
            <label for="fullName">Full Name : </label>
            <input type="text" name="fullName" id="fullName">
        </div>
        <div>
            <label for="email">Email : </label>
            <input type="email" name="email" id="email">
        </div>
        <button type="submit">Submit</button>
    </form>
</body>

</html>