<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Circle Area</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/area/triangle">Triangle</a></li>
            <li><a href="/area/circle">Circle</a></li>
        </ul>
    </nav>
    <h2>Circle Area Calculation</h2>
    <form action="/area/circle" method="post">
        <div>
            <label for="radious">Radious : </label>
            <input type="number" name="radious" id="radious">
        </div>
        <button type="submit">Calculate</button>
    </form>
</body>

</html>