<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Triangle Area</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/area/triangle">Triangle</a></li>
            <li><a href="/area/circle">Circle</a></li>
        </ul>
    </nav>
    <h2>Triangle Area Calculation</h2>
    <form action="/area/triangle" method="POST">
        <div>
            <label for="base">Base : </label>
            <input type="number" name="base" id="base">
        </div>
        <div>
            <label for="height">Height : </label>
            <input type="number" name="height" id="height">
        </div>
        <button type="submit">Calculate</button>
    </form>
</body>

</html>